<h2 id="title">Welcome to Ember</h2>

<p>
    {{#loading-button clicked=(action "clickWithPromise")}}
        With Promise
    {{/loading-button}}
</p>
<p>
    {{#loading-button clicked=(action "clickWithoutPromise") buttonStyle="btn-default"}}
        Without Promise
    {{/loading-button}}
</p>
